.vs/cpp-progress
.vs/cpp-progress/v16
.vs/cpp-progress/v16/Browse.VC.db
.vs/cpp-progress/v16/.suo
.vs/cpp-progress/v16/ipch
.vs/cpp-progress/v16/ipch/AutoPCH
.vs/cpp-progress/v16/ipch/AutoPCH/493685a9510b6ae8
.vs/cpp-progress/v16/ipch/AutoPCH/493685a9510b6ae8/CPP-PROGRESS.ipch
.vs/cpp-progress/v16/ipch/AutoPCH/bad681aa27caf1d5
.vs/cpp-progress/v16/ipch/AutoPCH/bad681aa27caf1d5/CPP-PROGRESS.ipch
